#mainPanel {
    background-image: url(/beans.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 2000px) {
  #mainPanel { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}