.dishesCardContainer {
    width: full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#dishList {
    margin: 0;
    padding-inline-start: 0%;
    width: 90%;
}

#dishRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

#addDishForm input {
    width: 150px;

}

#addDishForm button {
    cursor: pointer;
}

.editBtn,
.deleteBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.editBtn:hover { color: blue; }
.deleteBtn:hover { color: red; }